@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-white;
}

/* Write your own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.right-top-rectangle {
  position: absolute;
  top: -200px;
  left: -50vw;
  width: 200vw;
  height: 750px;
  background-color: #F4F5F8;
  border-radius: 70%;
  z-index: 0;

  @media screen and (min-width: 768px) {
    top: -200px;
    left: -50vw;
    width: 170vw;
    height: 650px;
  }
}

.right-top-rectangle::after {
  content: '';
}